@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

:root {
  --main-bg: #D0D0D0;
  --screen-bg: #E6E6E8;
  --shared-bg: #ECECEC;
  --screen-clr: #4F4F54;
}

.dark {
  --main-bg: #121212;
  --screen-bg: #3C3C3C;
  --shared-bg: #303030;
  --screen-clr: #EDEEF7;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Shippori Antique', sans-serif;
  font-size: 15px;
  --padding: 5px;
  --number-bg: #5885AF;
  --symbol-bg: #C3E0E5;
  --common-bg: #41729F;
  --mutual-bg: #274472;
}

/* Utility */
.main-flex {
  display: flex;
  align-items: center;
}

/* Main */
#main-app-fluid {
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-bg);
    padding: 2em 0;
  }
  
  .main-app-hero {
    width: 92%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Header */
  .main-app-header {
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--shared-bg);
  }
  
  .main-app-header h1 {
    color: #FFFFFF;
    padding: 3px;
    background-color: var(--mutual-bg);
    font-weight: 400;
    font-size: 1.2em;
  }
  
  .main-app-header img {
    filter: invert(0.5);
    cursor: pointer;
  }
  
/* Screen */
.main-app-screen {
    align-items: flex-end;
    justify-content: flex-end;
    height: 160px;
    flex-direction: column;
    background-color: var(--screen-bg);
    padding: var(--padding);
    overflow-x: auto;
  }
  
  .main-app-screen p {
    font-size: 1.8em;
    color: var(--screen-clr);
  }
  
  .main-app-motion {
    transition: ease-in-out 0.5s;
    transform: translateY(-50%);
    opacity: 0;
  }
  
  .main-app-error {
    color: hsl(0, 50%, 50%) !important;
  }
  
/* Button */
.main-app-button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    grid-gap: 2px;
    padding: var(--padding);
    background-color: var(--shared-bg);
  }
  
  .main-app-button button {
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    color: #262627;
  }
  
.main-app-button button[data-aclear] {
  grid-column: 1/3;
  background-color: var(--common-bg);
}

.main-app-button button[data-equals] {
  grid-column: 3/5;
  background-color: var(--mutual-bg);
  color: #FFFFFF;
}

.main-app-button button[data-number] {
  background-color: var(--number-bg);
}

.main-app-button button[data-symbol] {
  background-color: var(--symbol-bg);
}

.main-app-button button[data-delete] {
  background-color: var(--common-bg);
}

#main-app-attrb {
  text-align: center;
  text-transform: capitalize;
  font-size: 0.8em;
}